{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">دراسة تقرير واستقرار المنشائات الانشائية</h1>
    <div class="text-center">
      <br />
      <br />
      <br />
      <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">جوائز بيتونية
      </a>
      <br />
      <br />
      <br />
      <a class="btn btn-primary" href="{{ url_for('auth.login') }}">جوائز شبكية
      </a>
      <br />
      <br />
      <br />
      <a class="btn btn-primary" href="{{ url_for('auth.login') }}">اطارات
      </a>
    </div>
    
    
    
    {% endblock %}